<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rabbitmq" type="DataBus.Configuration.RabbitMqConfigSection, DataBus, Version=1.0.0.0, Culture=neutral" />
  </configSections>

  <rabbitmq>
    <busSettings>
      <add key="workMode" value="RabbitMq"/>
    </busSettings>
    <connections>
      <add name="domer" url="rabbitmq://domer-ss/" user="admin" password="admin"  />
      <add name="domer1" url="rabbitmq://domer-ss/" user="admin" password="admin" />
    </connections>
    <queues>
      <add name="testmessage_queue" threadCount="1" prefetchCountToThread="20" threadsByCoreCount="true"/>
    </queues>
    <mqhandlers>
      <add type="DatabusTestConsole.TestMessageHandler, DatabusTestConsole" queue="testmessage_queue"/>
    </mqhandlers>
  </rabbitmq>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>