<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rabbitmq" type="DataBus.Configuration.RabbitMqConfigSection, DataBus, Version=1.0.0.0, Culture=neutral" />
  </configSections>

  <rabbitmq>
    <busSettings>
      <add key="workMode" value="inmemory"/>
    </busSettings>
    <connections>
      <add name="domer" url="rabbitmq://domer-ss/" user="admin" password="admin"  />
      <add name="domer1" url="rabbitmq://domer-ss/" user="admin" password="admin" />
    </connections>
    <queues>
      <add name="message1_queue" threadCount="4" prefetchCountToThread="1" threadsByCoreCount="false"/>
    </queues>
    <mqhandlers>
      <add type="MassTransit_Saga.CreateNewBook.Message1Handler, MassTransit_Saga.CreateNewBook" queue="message1_queue" />
      <add type="MassTransit_Saga.Tests.TestMessageHandler, MassTransit_Saga.Tests" queue="testmessage_queue"/>
    </mqhandlers>
  </rabbitmq>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>